@use '../scss/utils' as u;

$planet-colors: (
    mercury: var(--mercury-color),
    venus: var(--venus-color),
    earth: var(--earth-color),
    mars: var(--mars-color),
    jupiter: var(--jupiter-color),
    saturn: var(--saturn-color),
    uranus: var(--uranus-color),
    neptune: var(--neptune-color)
);

@each $planet, $color in $planet-colors {
    .#{$planet} {
        background-color: $color;
    }
}

.miniPlanet {
    width: u.rem(20);
    height: u.rem(20);
    border-radius: 100%;
}
