.navContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navHeader {
    padding: 22px 0 27px 32px;
    display: block;

}

.navTitle h1{
    font-family: var(--font-antonio);
    font-weight: var(--font-medium);
    font-size: 28px;
    letter-spacing: -1.05px;
    color: #FFFFFF;
}

.btn {
    display: none;
    background-color: transparent;
    border: none;
}

.btn:active {
    background-color: transparent;
    border: none;   
}

.menuOpen {
    fill: rgba(255, 255, 255, 0.2);
}

.menuClose {
    fill: #FFFFFF;
}

.navHeaderSeparator {
    display: none;
}

@media (max-width: 800px) {
    .navContainer {
        flex-direction: column;
        justify-content: center;
        gap: 39px;
        padding-top: 32px;
        padding-bottom: 27px;
    }

    .navHeader {
        padding: 0;
    }
}

@media (max-width: 640px) {
    .navContainer {
        display: block;
        padding: 0;
    }

    .btn {
        display: block;
    }

    .navHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
    }

    .navSeparator {
        display: none;
    }

    .navHeaderSeparator {
        display: block;
    }
}