@use '../scss/utils' as u;

.navContainer {
    width: 100%;
    height: u.rem(85);
    padding-left: u.rem(32);
    padding-right: u.rem(42);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navHeader {
    display: block;
}

.navTitle h1{
    font-family: var(--font-antonio);
    font-weight: var(--font-medium);
    font-size: u.rem(28);
    letter-spacing: -1.05px;
    color: var(--font-color);
}

.btn {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn:active {
    background-color: transparent;
    border: none;   
}

.menuOpen {
    fill: var(--font-color-20);
}

.menuClose {
    fill: var(--font-color);
}

.navHeaderSeparator {
    display: none;
}

@media (max-width: u.em(1000)) {
    .navContainer {
        flex-direction: column;
        justify-content: center;
        gap: u.rem(39);
        height: u.rem(159);
        padding: 0;
    }

    .navHeader {
        padding: 0;
    }
}

@media (max-width: u.em(700)) {
    .navContainer {
        display: block;
        height: u.rem(68);
        padding: 0;
    }

    .btn {
        display: block;
    }

    .navHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: u.rem(16) u.rem(24);
    }

    .navSeparator {
        display: none;
    }

    .navHeaderSeparator {
        display: block;
    }
}