@use '../scss/utils' as u;

.list {
    display: flex;
    align-items: center;
    gap: u.rem(33);
    justify-content: right;
}

.listLink span {
    font-family: var(--font-spartan);
    font-weight: var(--font-bold);
    font-size: u.rem(11);
    letter-spacing: 1px;
    color: var(--font-color-75); 
}

.listLink span:hover {
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 85px;
}

.listLink span::after {
    content: "";
    opacity: 0;
    position: absolute;
    border-top: 4px solid var(--planet-color);
    width: 100%;
    top: 0;
    left: 0;
}

.listLink span:hover::after {
    opacity: 1;
    transition: opacity 0.3s;
}


.listMobile {
    display: none;
    padding-top: u.rem(24);
}

.listItem {
    padding: 0 u.rem(24);
}

.listLink {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: u.rem(24);
    padding-block: u.rem(20);
}

.icon {
    display: block;
    margin-left: auto;
}

@media (max-width: u.em(1000)) {
    .list {
        padding: 0;
    }

    .listLink span:hover {
        height: auto;
    }

    .listLink span::after {
        display: none;
    }

    .listLink span:hover::after {
        display: none;
    }
}

@media (max-width: u.em(700)) {
    .list {
        display: none;
    }

    .listMobile {
        display: block;    
    }

    .listLink span {
        font-size: u.rem(15);
        letter-spacing: 1.36px;
        color: var(--font-color);
    }
}