@use '../scss/utils' as u;

.list {
    //padding: u.rem(22) u.rem(40) u.rem(27) 0;
    
    display: flex;
    align-items: center;
    gap: u.rem(33);
    justify-content: right;
}

.listLink span {
    font-family: var(--font-spartan);
    font-weight: var(--font-bold);
    font-size: u.rem(11);
    letter-spacing: 1px;
    color: var(--font-color-75);
}

.listLink span:hover {
    color: var(--font-color);
}

.listMobile {
    display: none;
    padding-top: u.rem(24);
}

.listItem {
    padding: 0 u.rem(24);
}

.listLink {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: u.rem(24);
    padding-block: u.rem(20);
}

.icon {
    display: block;
    margin-left: auto;
}

@media (max-width: u.em(1000)) {
    .list {
        padding: 0;
    }
}

@media (max-width: u.em(700)) {
    .list {
        display: none;
    }

    .listMobile {
        display: block;  
    }

    .listLink span {
        font-size: u.rem(15);
        letter-spacing: 1.36px;
    }
}