@use '../scss/utils' as u;

.container {
    position: relative;
}

.geology {
    position: absolute;
    width: u.rem(163);
    height: auto;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
}

.saturnGeology {
    position: absolute;
    width: u.rem(163);
    top: 45%;
    right: 50%;
    transform: translate(50%, 50%);
}

@media (max-width: u.em(1000)) {
    .container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .planet {
        width: 63.3%;
        height: auto;
    }

    .geology {
        width: u.rem(100);
    }

    .saturnGeology {
        width: u.rem(100);
    }
}

@media (max-width: u.em(700)) {
    .planet {
        width: 38.4%;
        height: auto;
    }

    .geology {
        width: u.rem(60);
    }

    .saturnGeology {
        width: u.rem(60);
    }
}