@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


@font-face {
	font-family: "Spartan";
	src: url("/assets/fonts/Spartan-Regular.ttf") format(truetype);
    font-style: normal;
    font-weight: 400;
}

@font-face {
	font-family: "Spartan";
	src: url("/assets/fonts/Spartan-Medium.ttf") format(truetype);
    font-style: normal;
    font-weight: 500;
}

@font-face {
	font-family: "Spartan";
	src: url("/assets/fonts/Spartan-Bold.ttf") format(truetype);
    font-style: normal;
    font-weight: 700;
}

:root {
    --font-spartan: "Spartan";
    --font-antonio: "Antonio", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-color: #FFF;
    --font-color-20: rgba(255, 255, 255, 0.2);
    --font-color-50: rgba(255, 255, 255, 0.5);
    --font-color-75: rgba(255, 255, 255, 0.75);
    --button-hover-color: rgba(216, 216, 216, 0.2);
    
    --background-color: #070724;
    

    /*
    --mercury-color:#DEF4FC;
    --venus-color: #F7CC7F;
    --earth-color: #545BFE;
    --mars-color: #FF6A45;
    --jupiter-color: #ECAD7A;
    --saturn-color: #FCCB6B;
    --uranus-color: #65F0D5;
    --neptune-color: #497EFA;
    */

    --mercury-color:#419EBB;
    --venus-color: #EDA249;
    --earth-color: #6D2ED5;
    --mars-color: #D14C32;
    --jupiter-color: #D83A34;
    --saturn-color: #CD5120;
    --uranus-color: #1EC1A2;
    --neptune-color: #2D68F0;
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family:var(--font-antonio);
    font-weight: var(--font-regular);
    background-color: var(--background-color);
    background-image: url("/assets/background-stars.svg");
    background-size: cover;
    color: var(--font-color);
}

button, a {
    -webkit-tap-highlight-color: transparent;
}
