@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --font-spartan: "League Spartan", sans-serif;
    --font-antonio: "Antonio", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --mercury-color:#DEF4FC;
    --venus-color: #F7CC7F;
    --earth-color: #545BFE;
    --mars-color: #FF6A45;
    --jupiter-color: #ECAD7A;
    --saturn-color: #FCCB6B;
    --uranus-color: #65F0D5;
    --neptune-color: #497EFA;
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family:var(--font-antonio);
    font-weight: 400;
    background-color: #070724;
    background-image: url(./src/assets/background-stars.svg);
    color: #FFF;
}
